@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:ital,wght@1,600&display=swap');


*{
    box-sizing: border-box;
    margin:  0;
    padding: 0;
    scroll-behavior: smooth;
}

body{ 
    font-family: 'Lato', sans-serif;
    font-family: sans-serif;
    background-color: #2e6a4feb;
    font-size: 15px;
    line-height: 1.2;
    color: #fbfbfb;
    text-align: center;
    
}

header{ 
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 3px 10px -5px white;
    background-color: #2e6a4feb;
    
}

ul{ 
    list-style: none;
    padding-inline-start: initial;
}

main {
    max-width: 1200px;
    margin: auto;
}

.logo {
    width: 80px;
    border-radius: 20px;
    border:#040831 solid 1px;
}

.menu{
    display: flex;
    font-size: 20px;
    justify-content: flex-end;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.item-menu a{
    padding: 15px;
    margin-right: 5px;
    margin-left: 4px;
    border-radius: 50px;
}

.l-menu{
    background-color: #040831;
    display: inline-block; 
    color: white;
    transition: background-color 0.3s;
}

.l-menu:hover {
    background-color: #676b98;
}

section{
    margin-top: 20px;
    margin-left: 20px;
    margin-inline-end: 20px;
    margin-right: 20px;
    letter-spacing: 0.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#inicio{
    padding-top: 120px;
}

.perfil {
    width: 80%;
    border-radius: 300px;
    padding: 20px;
    min-width: 30%;
}

.marge{
    margin-block-end: 250px;
    width: 400px;
    max-width: 800px;
    padding: 4px 4px;
}

.hola{
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-align: left;
}

h1{
    font-size: 48px;
    text-align: center;
}

.sep{
    margin-block-start: 20px;
    margin-block-end: 20px;
}

.cv{
    display: flex;
    justify-content: center;
    background-color: #040831;
    width: 150px;
    height: 30px;
    align-items: center;
    border-radius: 25px;
    color: #fbfbfb;
    transition: background-color 0.3s;
}

.cv:hover{
    background-color: #676b98;
}

#hablemos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.texto-borde{ 
    background-color:#040831; 
    border-radius: 25px;
    padding: 2px 2px;
    max-width: 600px;
    align-items: flex-end;
}

.menu-items{
    margin-block-end: 80px;
    display: flex;
    justify-content: space-around; 
}

.box {
    list-style: none;
    padding-left: 18px;
    padding-right: 18px;
    width: 100px;
    height: 100px;;
    border-radius: 10px;
    transition: background-color 0.3s, padding-left 0.3s, padding-right 0.3s;
}

.box:hover{
    background-color: #c4c7dc;
    padding-left: 0px;
    padding-right: 0px;
}

footer{ 
    background-color: #040831;
    height: 90px;
    color: #fbfbfb;
    padding: 1em 0;
    text-align: center;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

@media (min-width: 1024px){

    h1{
        font-size: 48px;
        width: 70%;
        text-align: left;
    }

    h2{
        font-size: 32px;
    }

    section#Inicio {
        flex-direction: row;
        float: left;
        width: 50%;
    }

    article.texto-borde {
        width: 70%;
        align-items: flex-end;
    }

    ul#contact-links li {
        margin: 32px;
    }

    .hola{
        align-items:flex-start;
    }
}








    
    
   





       





























 



